
<%= simple_form_for(@bio,html:{class:'form_horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :trainer_id,collection: Trainer.all,label_method: :fullName,input_html:{class:'form-control'} %>
    <%= f.input :certs,input_html:{class:'form-control'} %>
    <%= f.input :exp,input_html:{class:'form-control'} %>
    <%= f.input :history,input_html:{class:'form-control'} %>
    <%= f.input :about,input_html:{class:'form-control'} %>
    <%= f.input :age,input_html:{class:'form-control'} %>
    <%= f.input :gender,input_html:{class:'form-control'}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
